

.mainContainer{
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.696);
    color: white;
    width: 300px;
    height: 180px;
    font-family: sans-serif;
    border-radius: 10px;
    
}

.mainContainer select{
    outline: none;
    border: none;
    margin-right: 15px;
    border-radius: 2px;
    margin-bottom: 10px;
}


.titleContainer{
    display: flex;
    justify-content: space-between;
}

.titleContainer button{
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.408);
    margin-right: 10px;
}

.titleContainer button:hover{
    background-color: rgba(255, 0, 0, 0.402);
}

.selectContainer{
    display: flex;

}

