
.mainContainer{
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10% 0 10%;
   
}



.gridContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    justify-content:center;

}