
.mainContainer{
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 10% 0 10%;
    height: 80vh;

   
}



.gridContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    justify-content:center;

}

.last{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url('../assets//last.png');
    background-position: center;
    background-size: cover;
    border: none;
}


.next{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url('../assets//next.png');
    background-position: center;
    background-size: cover;
    border: none;
}

